.App {
  text-align: center;
  background-color:rgb(31, 30, 30);
  font-family:monospace;
  font-weight:bolder;
  font-size: large;
  height: 130vh;
}
Form{
  background:rgb(89, 84, 84);
  border-radius: .5em;
  padding: 1em;
  color: white;
}
.logo{
  background-color:rgb(89, 84, 84);
  border-radius: .5em;
}
